body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 2em;
  background: #ffffff url("../img/bg_w.jpg");
  color: #ffffff;
}

.background {
  background-color: #000000;
  background-image: url("../img/backgrounds/1-luigi-circuit.jpg");
  background-position: center;
  background-size: cover;

  transition: ease-in-out;
  animation-duration: 60s;
  animation-name: panorama;
  animation-iteration-count: infinite;
}

@keyframes panorama {
  0%, 100% { background-size: 100%; background-position: center; }
  25%, 75% { background-size: 120%; background-position: left; }
}
