.luigi-circuit {
  position: absolute;
  animation: luigicircuit;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes luigicircuit {
  0%     { top: 170px; left:  90px; }
  18%    { top:  80px; left: 100px; }
  28%    { top:  52px; left: 165px; }
  34%    { top:  38px; left: 211px; }
  43%    { top:  70px; left: 244px; }
  65%    { top: 186px; left: 165px; }
  80%    { top: 260px; left: 160px; }
  84%    { top: 285px; left: 132px; }
  88%    { top: 273px; left:  94px; }
  91%    { top: 253px; left:  86px; }
  100%   { top: 170px; left:  90px; }
}

.moo-moo-meadows {
  position: absolute;
  animation: moomoomeadows;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes moomoomeadows {
  0%     { top: 161px; left: 287px; }
  15%    { top:  50px; left: 278px; }
  23%    { top:  25px; left: 230px; }
  30%    { top:  50px; left: 180px; }
  38%    { top:  90px; left: 163px; }
  45%    { top: 100px; left: 126px; }
  53%    { top: 133px; left:  80px; }
  58%    { top: 190px; left:  55px; }
  66%    { top: 235px; left:  80px; }
  74%    { top: 291px; left:  93px; }
  80%    { top: 294px; left: 150px; }
  85%    { top: 281px; left: 185px; }
  90%    { top: 244px; left: 255px; }
  94%    { top: 210px; left: 285px; }
  100%   { top: 161px; left: 287px; }
}

.mushroom-gorge {
  position: absolute;
  animation: mushroomgorge;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes mushroomgorge {
  0%     { top: 230px; left: 278px; }
  16%    { top: 139px; left: 286px; }
  25%    { top: 104px; left: 247px; }
  33%    { top:  35px; left: 228px; }
  38%    { top:  30px; left: 181px; }
  47%    { top:  69px; left:  86px; }
  53%    { top: 105px; left:  39px; }
  60%    { top: 155px; left:  60px; }
  68%    { top: 211px; left: 118px; }
  77%    { top: 240px; left: 170px; }
  82%    { top: 249px; left: 223px; }
  87%    { top: 275px; left: 244px; }
  90%    { top: 283px; left: 259px; }
  93%    { top: 270px; left: 276px; }
  100%   { top: 230px; left: 278px; }
}
