.luigi-circuit {
  position: absolute;
  animation: luigicircuit;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes luigicircuit {
  0%, 100% { top: 170px; left: 100px; }
  18%      { top:  85px; left: 110px; }
  28%      { top:  65px; left: 165px; }
  34%      { top:  51px; left: 208px; }
  43%      { top:  87px; left: 243px; }
  65%      { top: 190px; left: 163px; }
  80%      { top: 260px; left: 166px; }
  84%      { top: 275px; left: 137px; }
  88%      { top: 265px; left:  98px; }
  93%      { top: 228px; left:  97px; }
}

.moo-moo-meadows {
  position: absolute;
  animation: moomoomeadows;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes moomoomeadows {
  0%, 100% { top: 161px; left: 278px; }
  15%      { top:  50px; left: 264px; }
  23%      { top:  35px; left: 219px; }
  30%      { top:  55px; left: 183px; }
  38%      { top:  97px; left: 162px; }
  45%      { top: 106px; left: 128px; }
  53%      { top: 133px; left:  89px; }
  58%      { top: 180px; left:  58px; }
  66%      { top: 228px; left:  86px; }
  74%      { top: 282px; left:  97px; }
  80%      { top: 288px; left: 139px; }
  85%      { top: 277px; left: 174px; }
  90%      { top: 243px; left: 244px; }
  94%      { top: 210px; left: 275px; }
}

.mushroom-gorge {
  position: absolute;
  animation: mushroomgorge;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes mushroomgorge {
  0%, 100% { top: 227px; left: 268px; }
  11%      { top: 179px; left: 269px; }
  21%      { top: 140px; left: 277px; }
  30%      { top: 106px; left: 236px; }
  38%      { top:  41px; left: 222px; }
  40%      { top:  37px; left: 198px; }
  43%      { top:  48px; left: 172px; }
  50%      { top:  81px; left:  86px; }
  55%      { top: 105px; left:  51px; }
  61%      { top: 140px; left:  55px; }
  65%      { top: 162px; left:  73px; }
  73%      { top: 216px; left: 132px; }
  78%      { top: 235px; left: 170px; }
  84%      { top: 249px; left: 223px; }
  89%      { top: 273px; left: 239px; }
  91%      { top: 280px; left: 250px; }
  93%      { top: 267px; left: 264px; }
}

.toads-factory {
  position: absolute;
  animation: toadsfactory;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes toadsfactory {
  0%, 100% { top: 112px; left:  83px; }
  5%       { top:  69px; left:  84px; }
  9%       { top:  49px; left: 106px; }
  21%      { top:  49px; left: 230px; }
  25%      { top:  65px; left: 245px; }
  43%      { top: 238px; left: 245px; }
  47%      { top: 249px; left: 227px; }
  51%      { top: 233px; left: 210px; }
  55%      { top: 200px; left: 204px; }
  58%      { top: 195px; left: 181px; }
  62%      { top: 217px; left: 171px; }
  66%      { top: 253px; left: 197px; }
  69%      { top: 268px; left: 183px; }
  79%      { top: 268px; left:  94px; }
  84%      { top: 245px; left:  81px; }
  89%      { top: 208px; left:  89px; }
  93%      { top: 178px; left:  83px; }
  97%      { top: 140px; left:  83px; }
}

.mario-circuit {
  position: absolute;
  animation: mariocircuit;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes mariocircuit {
  0%, 100% { top: 200px; left: 158px; }
  26%      { top:  75px; left: 156px; }
  31%      { top:  52px; left: 164px; }
  37%      { top:  40px; left: 200px; }
  42%      { top:  50px; left: 230px; }
  49%      { top: 100px; left: 237px; }
  54%      { top: 140px; left: 223px; }
  57%      { top: 167px; left: 222px; }
  60%      { top: 185px; left: 214px; }
  67%      { top: 188px; left: 158px; }
  72%      { top: 187px; left: 120px; }
  76%      { top: 192px; left:  96px; }
  81%      { top: 229px; left:  90px; }
  87%      { top: 267px; left:  99px; }
  89%      { top: 275px; left: 119px; }
  91%      { top: 265px; left: 144px; }
  95%      { top: 230px; left: 157px; }
}

.coconut-mall {
  position: absolute;
  animation: coconutmall;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes coconutmall {
  0%, 100% { top: 247px; left:  81px; }
  8%       { top: 193px; left:  82px; }
  13%      { top: 163px; left:  85px; }
  17%      { top: 124px; left:  85px; }
  24%      { top:  69px; left:  90px; }
  27%      { top:  52px; left:  99px; }
  31%      { top:  49px; left: 147px; }
  35%      { top:  38px; left: 185px; }
  38%      { top:  38px; left: 226px; }
  40%      { top:  50px; left: 252px; }
  42%      { top:  66px; left: 251px; }
  46%      { top:  78px; left: 218px; }
  49%      { top:  69px; left: 195px; }
  51%      { top:  69px; left: 176px; }
  55%      { top:  83px; left: 130px; }
  57%      { top:  95px; left: 113px; }
  59%      { top: 108px; left: 115px; }
  62%      { top: 123px; left: 134px; }
  64%      { top: 119px; left: 163px; }
  67%      { top: 123px; left: 193px; }
  69%      { top: 139px; left: 207px; }
  75%      { top: 191px; left: 206px; }
  78%      { top: 238px; left: 205px; }
  84%      { top: 282px; left: 202px; }
  86%      { top: 295px; left: 188px; }
  90%      { top: 287px; left: 150px; }
  94%      { top: 296px; left:  93px; }
  96%      { top: 283px; left:  83px; }
}

.dks-snowboard-cross {
  position: absolute;
  animation: dkssnowboardcross;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes dkssnowboardcross {
  0%, 100% { top:  19px; left: 161px; }
  6%       { top:  23px; left: 191px; }
  12%      { top:  56px; left: 195px; }
  19%      { top: 284px; left: 195px; }
  23%      { top: 305px; left: 203px; }
  26%      { top: 304px; left: 216px; }
  30%      { top: 283px; left: 226px; }
  38%      { top: 231px; left: 227px; }
  41%      { top: 214px; left: 230px; }
  47%      { top: 190px; left: 205px; }
  50%      { top: 159px; left: 171px; }
  53%      { top: 139px; left: 144px; }
  55%      { top: 126px; left: 142px; }
  58%      { top: 122px; left: 153px; }
  63%      { top: 138px; left: 173px; }
  67%      { top: 132px; left: 187px; }
  70%      { top: 116px; left: 185px; }
  76%      { top:  93px; left: 144px; }
  79%      { top:  86px; left: 135px; }
  83%      { top:  60px; left: 130px; }
  86%      { top:  50px; left: 119px; }
  89%      { top:  34px; left:  96px; }
  93%      { top:  20px; left: 105px; }
}

.warios-goldmine {
  position: absolute;
  animation: wariosgoldmine;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes wariosgoldmine {
  0%, 100% { top: 250px; left:  70px; }
  6%       { top: 204px; left:  87px; }
  11%      { top: 171px; left: 107px; }
  19%      { top:  87px; left: 108px; }
  23%      { top:  69px; left:  89px; }
  26%      { top:  54px; left:  74px; }
  27%      { top:  48px; left:  73px; }
  30%      { top:  38px; left:  93px; }
  38%      { top:  37px; left: 151px; }
  43%      { top:  50px; left: 185px; }
  49%      { top:  44px; left: 228px; }
  52%      { top:  54px; left: 249px; }
  56%      { top:  80px; left: 252px; }
  60%      { top: 108px; left: 252px; }
  63%      { top: 148px; left: 254px; }
  68%      { top: 191px; left: 261px; }
  72%      { top: 216px; left: 248px; }
  75%      { top: 240px; left: 235px; }
  80%      { top: 286px; left: 218px; }
  82%      { top: 291px; left: 201px; }
  87%      { top: 279px; left: 162px; }
  90%      { top: 277px; left: 143px; }
  92%      { top: 276px; left: 100px; }
  96%      { top: 272px; left:  75px; }
}

.daisy-circuit {
  position: absolute;
  animation: daisycircuit;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes daisycircuit {
  0%, 100% { top: 140px; left: 168px; }
  5%       { top: 143px; left: 120px; }
  9%       { top: 154px; left:  74px; }
  12%      { top: 142px; left:  49px; }
  15%      { top: 121px; left:  38px; }
  18%      { top:  99px; left:  61px; }
  22%      { top:  78px; left:  79px; }
  25%      { top:  78px; left: 104px; }
  29%      { top:  97px; left: 131px; }
  32%      { top:  97px; left: 153px; }
  37%      { top:  88px; left: 179px; }
  41%      { top:  98px; left: 209px; }
  45%      { top:  83px; left: 241px; }
  49%      { top:  74px; left: 274px; }
  52%      { top:  88px; left: 290px; }
  55%      { top: 106px; left: 284px; }
  58%      { top: 126px; left: 263px; }
  61%      { top: 139px; left: 259px; }
  64%      { top: 166px; left: 247px; }
  70%      { top: 211px; left: 249px; }
  74%      { top: 237px; left: 261px; }
  77%      { top: 258px; left: 254px; }
  79%      { top: 258px; left: 237px; }
  83%      { top: 239px; left: 228px; }
  88%      { top: 200px; left: 237px; }
  92%      { top: 166px; left: 235px; }
  96%      { top: 146px; left: 204px; }
}

.koopa-cape {
  position: absolute;
  animation: koopacape;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes koopacape {
  0%, 100% { top: 230px; left: 157px; }
  5%       { top: 202px; left: 160px; }
  10%      { top: 183px; left: 174px; }
  14%      { top: 152px; left: 185px; }
  20%      { top: 120px; left: 177px; }
  25%      { top: 108px; left: 154px; }
  28%      { top:  95px; left: 149px; }
  32%      { top:  63px; left: 153px; }
  34%      { top:  53px; left: 146px; }
  36%      { top:  58px; left: 136px; }
  37%      { top:  62px; left: 132px; }
  41%      { top:  98px; left: 115px; }
  44%      { top: 120px; left:  99px; }
  46%      { top: 135px; left:  94px; }
  50%      { top: 137px; left: 122px; }
  54%      { top: 141px; left: 147px; }
  57%      { top: 156px; left: 152px; }
  60%      { top: 170px; left: 149px; }
  66%      { top: 199px; left: 171px; }
  69%      { top: 226px; left: 189px; }
  71%      { top: 226px; left: 198px; }
  74%      { top: 214px; left: 218px; }
  76%      { top: 200px; left: 228px; }
  78%      { top: 201px; left: 241px; }
  80%      { top: 212px; left: 244px; }
  87%      { top: 261px; left: 183px; }
  89%      { top: 278px; left: 159px; }
  91%      { top: 270px; left: 149px; }
  94%      { top: 260px; left: 148px; }
  97%      { top: 244px; left: 156px; }
}

.maple-treeway {
  position: absolute;
  animation: mapletreeway;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes mapletreeway {
  0%, 100% { top:  78px; left: 217px; }
  6%       { top:  46px; left: 215px; }
  9%       { top:  35px; left: 197px; }
  12%      { top:  22px; left: 182px; }
  15%      { top:  31px; left: 171px; }
  17%      { top:  41px; left: 168px; }
  23%      { top: 226px; left: 173px; }
  28%      { top: 252px; left: 172px; }
  31%      { top: 258px; left: 156px; }
  35%      { top: 241px; left: 142px; }
  38%      { top: 221px; left: 136px; }
  40%      { top: 211px; left: 141px; }
  42%      { top: 214px; left: 155px; }
  45%      { top: 240px; left: 155px; }
  47%      { top: 252px; left: 164px; }
  50%      { top: 273px; left: 177px; }
  53%      { top: 290px; left: 183px; }
  56%      { top: 297px; left: 165px; }
  59%      { top: 295px; left: 133px; }
  63%      { top: 304px; left: 109px; }
  65%      { top: 296px; left: 105px; }
  67%      { top: 280px; left: 121px; }
  71%      { top: 266px; left: 143px; }
  77%      { top: 238px; left: 181px; }
  79%      { top: 221px; left: 203px; }
  82%      { top: 209px; left: 217px; }
  85%      { top: 189px; left: 219px; }
  87%      { top: 179px; left: 216px; }
  90%      { top: 167px; left: 220px; }
  93%      { top: 140px; left: 226px; }
  95%      { top: 124px; left: 226px; }
  98%      { top:  99px; left: 219px; }
}

.grumble-volcano {
  position: absolute;
  animation: grumblevolcano;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes grumblevolcano {
  0%, 100% { top: 168px; left: 106px; }
  10%      { top: 101px; left: 107px; }
  13%      { top:  81px; left: 103px; }
  16%      { top:  66px; left: 107px; }
  20%      { top:  45px; left:  96px; }
  22%      { top:  32px; left: 100px; }
  26%      { top:  28px; left: 127px; }
  29%      { top:  28px; left: 157px; }
  32%      { top:  34px; left: 171px; }
  34%      { top:  41px; left: 181px; }
  38%      { top:  48px; left: 212px; }
  41%      { top:  64px; left: 221px; }
  44%      { top:  79px; left: 211px; }
  47%      { top:  78px; left: 185px; }
  49%      { top:  90px; left: 176px; }
  52%      { top: 105px; left: 181px; }
  55%      { top: 129px; left: 194px; }
  62%      { top: 190px; left: 194px; }
  67%      { top: 220px; left: 202px; }
  72%      { top: 262px; left: 226px; }
  74%      { top: 272px; left: 226px; }
  80%      { top: 295px; left: 193px; }
  83%      { top: 285px; left: 178px; }
  87%      { top: 260px; left: 156px; }
  90%      { top: 235px; left: 158px; }
  93%      { top: 226px; left: 129px; }
  95%      { top: 216px; left: 108px; }
  98%      { top: 194px; left: 105px; }
}

.dry-dry-ruins {
  position: absolute;
  animation: drydryruins;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes drydryruins {
  0%, 100% { top:  69px; left: 130px; }
  5%       { top:  41px; left: 133px; }
  8%       { top:  27px; left: 145px; }
  12%      { top:  26px; left: 176px; }
  17%      { top:  53px; left: 193px; }
  23%      { top:  93px; left: 187px; }
  25%      { top: 106px; left: 197px; }
  28%      { top: 105px; left: 214px; }
  30%      { top: 115px; left: 219px; }
  33%      { top: 129px; left: 221px; }
  38%      { top: 154px; left: 209px; }
  50%      { top: 244px; left: 208px; }
  52%      { top: 261px; left: 203px; }
  54%      { top: 262px; left: 197px; }
  57%      { top: 263px; left: 177px; }
  60%      { top: 282px; left: 172px; }
  62%      { top: 293px; left: 176px; }
  65%      { top: 303px; left: 165px; }
  67%      { top: 303px; left: 154px; }
  69%      { top: 291px; left: 146px; }
  72%      { top: 280px; left: 146px; }
  75%      { top: 260px; left: 154px; }
  77%      { top: 245px; left: 154px; }
  80%      { top: 222px; left: 143px; }
  82%      { top: 204px; left: 143px; }
  88%      { top: 135px; left: 143px; }
  92%      { top: 118px; left: 135px; }
  95%      { top:  89px; left: 130px; }
}

.moonview-highway {
  position: absolute;
  animation: moonviewhighway;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes moonviewhighway {
  0%, 100% { top: 152px; left: 123px; }
  8%       { top: 131px; left: 122px; }
  12%      { top: 122px; left: 132px; }
  16%      { top: 124px; left: 150px; }
  20%      { top: 115px; left: 155px; }
  25%      { top:  98px; left: 159px; }
  32%      { top:  78px; left: 168px; }
  36%      { top:  64px; left: 177px; }
  40%      { top:  50px; left: 187px; }
  43%      { top:  51px; left: 199px; }
  47%      { top:  66px; left: 204px; }
  52%      { top:  83px; left: 197px; }
  60%      { top: 123px; left: 209px; }
  64%      { top: 150px; left: 211px; }
  67%      { top: 169px; left: 212px; }
  70%      { top: 198px; left: 207px; }
  73%      { top: 233px; left: 204px; }
  76%      { top: 257px; left: 189px; }
  82%      { top: 270px; left: 135px; }
  86%      { top: 252px; left: 118px; }
  89%      { top: 225px; left: 122px; }
  92%      { top: 197px; left: 128px; }
  95%      { top: 175px; left: 124px; }
}
