.luigi-circuit {
  position: absolute;
  animation: luigicircuit;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes luigicircuit {
  0%     { top: 170px; left: 100px; }
  18%    { top:  85px; left: 110px; }
  28%    { top:  65px; left: 165px; }
  34%    { top:  51px; left: 208px; }
  43%    { top:  87px; left: 243px; }
  65%    { top: 190px; left: 163px; }
  80%    { top: 260px; left: 166px; }
  84%    { top: 275px; left: 137px; }
  88%    { top: 265px; left:  98px; }
  93%    { top: 228px; left:  97px; }
  100%   { top: 170px; left: 100px; }
}

.moo-moo-meadows {
  position: absolute;
  animation: moomoomeadows;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes moomoomeadows {
  0%     { top: 161px; left: 278px; }
  15%    { top:  50px; left: 264px; }
  23%    { top:  35px; left: 219px; }
  30%    { top:  55px; left: 183px; }
  38%    { top:  97px; left: 162px; }
  45%    { top: 106px; left: 128px; }
  53%    { top: 133px; left:  89px; }
  58%    { top: 180px; left:  58px; }
  66%    { top: 228px; left:  86px; }
  74%    { top: 282px; left:  97px; }
  80%    { top: 288px; left: 139px; }
  85%    { top: 277px; left: 174px; }
  90%    { top: 243px; left: 244px; }
  94%    { top: 210px; left: 275px; }
  100%   { top: 161px; left: 278px; }
}

.mushroom-gorge {
  position: absolute;
  animation: mushroomgorge;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes mushroomgorge {
  0%     { top: 227px; left: 268px; }
  11%    { top: 179px; left: 269px; }
  21%    { top: 140px; left: 277px; }
  30%    { top: 106px; left: 236px; }
  38%    { top:  41px; left: 222px; }
  40%    { top:  37px; left: 198px; }
  43%    { top:  48px; left: 172px; }
  50%    { top:  81px; left:  86px; }
  55%    { top: 105px; left:  51px; }
  61%    { top: 140px; left:  55px; }
  65%    { top: 162px; left:  73px; }
  73%    { top: 216px; left: 132px; }
  78%    { top: 235px; left: 170px; }
  84%    { top: 249px; left: 223px; }
  89%    { top: 273px; left: 239px; }
  91%    { top: 280px; left: 250px; }
  93%    { top: 267px; left: 264px; }
  100%   { top: 227px; left: 268px; }
}

.toads-factory {
  position: absolute;
  animation: toadsfactory;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes toadsfactory {
  0%     { top: 112px; left:  83px; }
  5%     { top:  69px; left:  84px; }
  9%     { top:  49px; left: 106px; }
  21%    { top:  49px; left: 230px; }
  25%    { top:  65px; left: 245px; }
  43%    { top: 238px; left: 245px; }
  47%    { top: 249px; left: 227px; }
  51%    { top: 233px; left: 210px; }
  55%    { top: 200px; left: 204px; }
  58%    { top: 195px; left: 181px; }
  62%    { top: 217px; left: 171px; }
  66%    { top: 253px; left: 197px; }
  69%    { top: 268px; left: 183px; }
  79%    { top: 268px; left:  94px; }
  84%    { top: 245px; left:  81px; }
  89%    { top: 208px; left:  89px; }
  93%    { top: 178px; left:  83px; }
  97%    { top: 140px; left:  83px; }
  100%   { top: 112px; left:  83px; }
}
