.luigi-circuit {
  position: absolute;
  animation: luigicircuit;
  animation-duration: 27084ms;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes luigicircuit {
  0%     { top: 170px; left:  95px; }
  18%    { top:  82px; left: 103px; }
  28%    { top:  56px; left: 165px; }
  34%    { top:  45px; left: 206px; }
  43%    { top:  77px; left: 244px; }
  65%    { top: 186px; left: 164px; }
  80%    { top: 260px; left: 161px; }
  84%    { top: 280px; left: 132px; }
  88%    { top: 273px; left: 100px; }
  91%    { top: 253px; left:  91px; }
  100%   { top: 170px; left:  95px; }
}

.peach-gardens-ds {
  position: absolute;
  animation: peachgardensds;
  animation-duration: 40000ms;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes peachgardensds {
  0%     { top: 266px; left: 149px; }
  5%     { top: 204px; left: 149px; }
  10%    { top: 170px; left: 110px; }
  15%    { top: 173px; left:  33px; }
  20%    { top: 150px; left:  15px; }
  25%    { top:  83px; left:  24px; }
  30%    { top:  44px; left:  42px; }
  35%    { top:  36px; left:  96px; }
  40%    { top:  45px; left: 123px; }
  45%    { top:  36px; left: 149px; }
  50%    { top:  45px; left: 176px; }
  55%    { top:  36px; left: 203px; }
  60%    { top:  60px; left: 290px; }
  65%    { top: 117px; left: 278px; }
  70%    { top: 153px; left: 291px; }
  75%    { top: 203px; left: 281px; }
  80%    { top: 229px; left: 293px; }
  85%    { top: 269px; left: 270px; }
  90%    { top: 297px; left: 280px; }
  95%    { top: 300px; left: 180px; }
  100%   { top: 266px; left: 149px; }
}
