/* Global Styles
=========================================== */

html {
  background: transparent;
}

body {
  overflow-x: hidden;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  line-height: 2em;
  background: #ffffff url("../img/bg_w.jpg");
  color: #ffffff;
}

.bg-element {
  position: absolute;

  background: url("../img/bg_element.png") center right no-repeat;
  opacity: 0.07;

  width: 569px;
  height: 680px;

  top: 5%;
  right: 5%;

  transform: rotate(4deg);
}

.site-header {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
}

.wrapper-background {
  position: relative;
  background: #333333 url("../img/bg_b.jpg");
  padding: 20px;
}

.wrapper-background__border-top {
  background: -moz-linear-gradient(top,  rgba(125,131,214,0) 0%, rgba(125,131,214,0.99) 70%, rgba(125,131,214,1) 71%);
  background: -webkit-linear-gradient(top,  rgba(125,131,214,0) 0%,rgba(125,131,214,0.99) 70%,rgba(125,131,214,1) 71%);
  background: linear-gradient(to bottom,  rgba(125,131,214,0) 0%,rgba(125,131,214,0.99) 70%,rgba(125,131,214,1) 71%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007d83d6', endColorstr='#7d83d6',GradientType=0 );

  height: 5px;
  margin: -25px 0 0;
}

.wrapper-background__border-bottom {
  background: -moz-linear-gradient(top,  rgba(125,131,214,1) 29%, rgba(125,131,214,0.99) 30%, rgba(125,131,214,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(125,131,214,1) 29%,rgba(125,131,214,0.99) 30%,rgba(125,131,214,0) 100%);
  background: linear-gradient(to bottom,  rgba(125,131,214,1) 29%,rgba(125,131,214,0.99) 30%,rgba(125,131,214,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d83d6', endColorstr='#007d83d6',GradientType=0 );

  height: 5px;
  margin: 0 0 60px;
}

/*Time Line
=========================================== */

.time-line {
  position: relative;
  margin: 0 auto;

  width: 100%;
  height: 100px;
}

.time-line-racers {
  position: absolute;
  margin: 40px auto;
  background: #3a3a0a;

  width: 100%;
  height: 5px;

  border: 1px solid #5a5a11;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/*Racers Time Line
===========================================*/

.bda, .blu, .bma, .bpe, .bir,
.bow, .boj, .dai, .did, .don,
.dry, .drb, .fun, .kin, .koo,
.lui, .mar, .mii, .pea, .ros,
.toa, .tod, .wal, .war, .yos {
  position: absolute;

  top: -15px;
  left: 0%;

  width: 30px;
}

.finish {
  position: absolute;

  top: -15px;
  left: 100%;

  width: 30px;
}

.bda {}
.blu {}
.bma {}
.bpe {}
.bir {}
.bow {}
.boj {}
.dai {}
.did {}
.don {}
.dry {}
.drb {}
.fun {}
.kin {}
.koo {}
.lui {}
.mar {}
.mii {}
.pea {}
.ros {}
.toa {}
.tod {}
.wal {}
.war {}
.yos {}

/* Table Styles
=========================================== */

table {
  background: rgba(255, 255, 0, 0.05);
  margin: 0 auto;

  width: 100%;
  font-weight: bold;

  text-shadow: 0 0 5px #000;
  border: 1px solid #373a0a;
}

thead {
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  color: #333;
  border-bottom: 5px solid #06ebf3;
  text-shadow: none;
}

td, th {
  text-align: left;
  padding: 0 10px;
  width: 22px;
}

/* Zebra Strips */
tr:nth-child(odd) {
  background: rgba(255, 255, 0, 0.05);
  border: 1px solid #5a5a11;
}

td:nth-child(1) {
  text-align: right;
  padding: 0 2px 0 0;
  width: 22px;
}

td:nth-child(2) {
  padding: 0;
}

td:nth-child(3) {
  cursor: pointer;
}

tr { transition: all .1s ease-in-out; }
tr:hover { transform: scale(1.05); }

thead tr { transition: none; }
thead tr:hover { transform: none; }

/* Give the racer name a bit more width than strictly necessary */
tr td:nth-child(3),
tr th:nth-child(3) {
  width: 150px;
  padding-left: 5px;
}

tr td:nth-child(4),
tr th:nth-child(4) {
  width: 95px;
  padding: 0 5px 0 0;
}

/* Background colours for racers moving up or down */
tr.up   { background-color: rgba(64,255,64, 0.5); }
tr.down { background-color: rgba(255,64,64, 0.5); }

/* Right
=========================================== */

.lap-time {
  font-size: 30px;
  line-height: 125%;

  margin: 143px auto 0;
}

.circuit-map {
  background: url("../img/circuits/1-luigi-circuit.png") center center no-repeat;
  background-size: 100%;
  width: 360px;
  height: 360px;
}

.circuit-name {
  background: rgba(0, 0, 0, 0.45);
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid #373a0a;
  border-radius: 5px;
}

.arrow-left,
.arrow-right {
  margin: 0 auto;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.arrow-left:hover,
.arrow-right:hover { transform: scale(1.3); }
