/* Global Styles
=========================================== */

html {
  background: transparent;
}

body {
  overflow-x: hidden;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  line-height: 2em;
  background: #ffffff url("../img/bg_w.jpg");
  color: #ffffff;
  padding-bottom: 60px;
}

.bg-element {
  position: absolute;
  background: url("../img/bg_element.png") center right no-repeat;
  opacity: 0.07;
  z-index: -999;

  margin: 0 auto;
  margin-top: -55px;
}

.site-header {
  width: 100%;
  padding: 0 20px;
}

.wrapper-background {
  background: #333333 url("../img/bg_b.jpg");
  padding: 20px;
}

.wrapper-background__border-top {
  background: -moz-linear-gradient(top,  rgba(125,131,214,0) 0%, rgba(125,131,214,0.99) 70%, rgba(125,131,214,1) 71%);
  background: -webkit-linear-gradient(top,  rgba(125,131,214,0) 0%,rgba(125,131,214,0.99) 70%,rgba(125,131,214,1) 71%);
  background: linear-gradient(to bottom,  rgba(125,131,214,0) 0%,rgba(125,131,214,0.99) 70%,rgba(125,131,214,1) 71%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007d83d6', endColorstr='#7d83d6',GradientType=0 );

  height: 5px;
  margin-top: -25px;
}

.wrapper-background__border-bottom {
  background: -moz-linear-gradient(top,  rgba(125,131,214,1) 29%, rgba(125,131,214,0.99) 30%, rgba(125,131,214,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(125,131,214,1) 29%,rgba(125,131,214,0.99) 30%,rgba(125,131,214,0) 100%);
  background: linear-gradient(to bottom,  rgba(125,131,214,1) 29%,rgba(125,131,214,0.99) 30%,rgba(125,131,214,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d83d6', endColorstr='#007d83d6',GradientType=0 );

  height: 5px;
}

/*Time Line
=========================================== */

.time-line {
  position: relative;
  margin: 0 auto;

  width: 100%;
  height: 100px;
}

.time-line-racers {
  position: absolute;
  margin: 40px auto;
  background: #3a3a0a;

  width: 100%;
  height: 5px;

  border: 1px solid #5a5a11;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.time-line-racers-width {
  width: 30px;
}

/*Racers Time Line
===========================================*/

.babd, .babl, .babm, .babp, .bir,
.bow, .bowj, .dai, .did, .don,
.dry, .dryb, .fun, .kin, .koo,
.lui, .mar, .mii, .pea, .ros,
.toa, .toad, .wal, .war, .yos {
  position: absolute;

  top: -15px;
  left: 0%;
}

.babd { left: 99%; z-index: 25; opacity: 1.00; }
.babl { left: 17%; z-index:  5; opacity: 0.60; }
.babm { left:  1%; z-index:  1; opacity: 0.52; }
.babp { left:  3%; z-index:  3; opacity: 0.56; }
.bir  { left: 34%; z-index: 10; opacity: 0.70; }
.bow  { left: 74%; z-index: 21; opacity: 0.92; }
.bowj { left: 96%; z-index: 24; opacity: 0.98; }
.dai  { left: 75%; z-index: 22; opacity: 0.94; }
.did  { left: 33%; z-index:  9; opacity: 0.68; }
.don  { left: 62%; z-index: 17; opacity: 0.84; }
.dry  { left: 43%; z-index: 13; opacity: 0.76; }
.dryb { left: 59%; z-index: 16; opacity: 0.82; }
.fun  { left: 44%; z-index: 14; opacity: 0.78; }
.kin  { left: 13%; z-index:  4; opacity: 0.58; }
.koo  { left:  2%; z-index:  2; opacity: 0.54; }
.lui  { left: 39%; z-index: 12; opacity: 0.74; }
.mar  { left: 68%; z-index: 19; opacity: 0.88; }
.mii  { left: 88%; z-index: 23; opacity: 0.96; }
.pea  { left: 24%; z-index:  6; opacity: 0.62; }
.ros  { left: 70%; z-index: 20; opacity: 0.90; }
.toa  { left: 36%; z-index: 11; opacity: 0.72; }
.toad { left: 68%; z-index: 18; opacity: 0.86; }
.wal  { left: 57%; z-index: 15; opacity: 0.80; }
.war  { left: 29%; z-index:  8; opacity: 0.66; }
.yos  { left: 26%; z-index:  7; opacity: 0.64; }

/* Table Styles
=========================================== */

table {
  background: rgba(255, 255, 0, 0.05);
  margin: 0 auto;

  width: 100%;
  font-weight: bold;

  text-shadow: 0 0 5px #000;
  border: 1px solid #373a0a;
}

thead {
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  color: #333;
  border-bottom: 5px solid #06ebf3;
  text-shadow: none;
}

td, th {
  text-align: left;
  padding: 0 10px;
  width: 22px;
}

/* Zebra Strips */
tr:nth-child(odd) {
  background: rgba(255, 255, 0, 0.05);
  border: 1px solid #5a5a11;
}

td:nth-child(1) {
  padding: 0 0 0 5px;
  width: 22px;
}

td:nth-child(2) {
  padding: 0;
}

td:nth-child(3) {
  cursor: pointer;
  transition: all .1s ease-in-out;
}

td:nth-child(3):hover {
  transform: scale(1.1);
}

/* Give the racer name a bit more width than strictly necessary */
tr td:nth-child(3),
tr th:nth-child(3) {
  width: 150px;
  padding-left: 5px;
}

tr td:nth-child(4),
tr th:nth-child(4) {
  width: 95px;
  padding-left: 5px;
}

/* Background colours for racers moving up or down */
tr.up   { background-color: rgba(64,255,64, 0.5); }
tr.down { background-color: rgba(255,64,64, 0.5); }

/* Right
=========================================== */

.lap-time {
  font-size: 30px;
  line-height: 125%;

  margin: 143px auto 0;
}

.circuit-map {
  background: url("../img/circuits/peach-gardens-ds.png") center center no-repeat;
  background-size: 100%;
  width: 360px;
  height: 360px;
}

.circuit-name {
  font-size: 26px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.arrow-left,
.arrow-right {
  margin: 0 auto;
  cursor: pointer;
}
