.time-line {
  position: relative;
  margin: 0 auto;

  width: 100%;
  height: 100px;
}

.progress-bar-container {
  position: absolute;
}

.progress-bar {
  background: none;

  position: absolute;
  left: 0;
}

.time-line-racers {
  position: relative;
  margin: 40px auto;
  background: #3a3a0a;

  width: 100%;
  height: 5px;

  border: 1px solid #5a5a11;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.bda, .blu, .bma, .bpe, .bir,
.bow, .boj, .dai, .did, .don,
.dry, .drb, .fun, .kin, .koo,
.lui, .mar, .mii, .pea, .ros,
.toa, .tod, .wal, .war, .yos {
  position: absolute;
  transition: all .1s ease-in-out;

  top: -15px;
  left: 100%;

  width: 30px;
}

.bda:hover, .blu:hover, .bma:hover, .bpe:hover, .bir:hover,
.bow:hover, .boj:hover, .dai:hover, .did:hover, .don:hover,
.dry:hover, .drb:hover, .fun:hover, .kin:hover, .koo:hover,
.lui:hover, .mar:hover, .mii:hover, .pea:hover, .ros:hover,
.toa:hover, .tod:hover, .wal:hover, .war:hover, .yos:hover {
  transform: scale(1.5);
}

.finish {
  position: absolute;

  top: -15px;
  left: 100%;

  width: 30px;
}
